<div class="white-background">
    <div class="parent-array">
        <div class="svg-container">
            <svg width="1050" height="2000">
                <!--Array Boxes-->
                <g *ngFor="let item of array; let i = index">
                    <rect 
                        [attr.x]="i*150"
                        y="1rem"
                        width="15%"
                        height="9rem"
                        fill="grey"/>
                    <text [attr.x]="(i*150)+70" y="6rem" 
                        font-family="Arial, sans-serif"
                        font-size="120"
                        font-weight="bold"
                        text-anchor="middle"
                        dominant-baseline="middle"
                        fill="black">6</text> 
                </g>
                <!-- <rect x="0" y="1rem" width="15%" height="9rem" fill="grey"/>
                <text x="4.5rem" y="6rem" 
                    font-family="Arial, sans-serif"
                    font-size="120"
                    font-weight="bold"
                    text-anchor="middle"
                    dominant-baseline="middle"
                    fill="black">6</text> -->
            </svg>
        </div> <!-- svg-container -->
    </div> <!-- parent-array -->
</div> <!-- white-background -->



        <!-- <div class="array-square" *ngFor="let item of array; let i = index" [ngStyle]="{'height': item + 'px'}">
            <span>{{ item }}</span> -->
            <!-- <div class="array-square" *ngFor="let item of array; let i = index" [ngStyle]="{'height': item + 'px'}">
                <span>{{ item }}</span>
            </div> -->


            <!-- <svg width="1000" height="2000">
                <rect x="0" y="1rem" width="15%" height="9rem" fill="grey"/>
                <text x="4.5rem" y="6rem" 
                    font-family="Arial, sans-serif"
                    font-size="120"
                    font-weight="bold"
                    text-anchor="middle"
                    dominant-baseline="middle"
                    fill="black">6</text>
                <rect x="9rem" y="1rem" width="15%" height="9rem" fill="grey"/>
                <text x="13.5rem" y="6rem" 
                    font-family="Arial, sans-serif"
                    font-size="120"
                    font-weight="bold"
                    text-anchor="middle"
                    dominant-baseline="middle"
                    fill="black">5</text>
                <rect x="18rem" y="1rem" width="15%" height="9rem" fill="grey"/>
                <text x="22.5rem" y="6rem" 
                    font-family="Arial, sans-serif"
                    font-size="120"
                    font-weight="bold"
                    text-anchor="middle"
                    dominant-baseline="middle"
                    fill="black">4</text>
                <rect x="27rem" y="1rem" width="15%" height="9rem" fill="grey"/>
                <text x="31.5rem" y="6rem" 
                    font-family="Arial, sans-serif"
                    font-size="120"
                    font-weight="bold"
                    text-anchor="middle"
                    dominant-baseline="middle"
                    fill="black">3</text>
                <rect x="36rem" y="1rem" width="15%" height="9rem" fill="grey"/>
                <text x="40.5rem" y="6rem" 
                    font-family="Arial, sans-serif"
                    font-size="120"
                    font-weight="bold"
                    text-anchor="middle"
                    dominant-baseline="middle"
                    fill="black">2</text>
                <rect x="45rem" y="1rem" width="15%" height="9rem" fill="grey"/>
                <text x="49.5rem" y="6rem" 
                    font-family="Arial, sans-serif"
                    font-size="120"
                    font-weight="bold"
                    text-anchor="middle"
                    dominant-baseline="middle"
                    fill="black">1</text>
                <rect x="54rem" y="1rem" width="15%" height="9rem" fill="grey"/>
                <text x="58.5rem" y="6rem" 
                    font-family="Arial, sans-serif"
                    font-size="120"
                    font-weight="bold"
                    text-anchor="middle"
                    dominant-baseline="middle"
                    fill="black">0</text>
            </svg> -->

                    <!-- <text x="4.5rem" y="6rem" 
                        font-family="Arial, sans-serif"
                        font-size="120"
                        font-weight="bold"
                        text-anchor="middle"
                        dominant-baseline="middle"
                        fill="black">6</text> -->